/* Mode 1 */
/* color */
$blue-100: #e6f0f5;
$blue-150: #d5e7f3;
$blue-200: #b2d5ef;
$blue-300: #8ec4f1;
$blue-400: #5da7ef;
$blue-50: #f0f7fa;
$blue-500: #2b89ed;
$blue-600: #1870aa;
$blue-650: #07567b;
$blue-700: #184459;
$blue-750: #14394a;
$blue-800: #14242b;
$blue-900: #060709;
$dark-transparent-10p: #1b1d1d1a;
$dark-transparent-20p: #1b1d1d33;
$dark-transparent-30p: #1b1d1d4d;
$dark-transparent-40p: #1b1d1d66;
$dark-transparent-50p: #1b1d1d80;
$dark-transparent-5p: #1b1d1d0d;
$dark-transparent-60p: #1b1d1d99;
$dark-transparent-70p: #1b1d1db2;
$dark-transparent-80p: #1b1d1dcc;
$gray-100: #fafafa;
$gray-125: #f7f7f7;
$gray-150: #edefef;
$gray-200: #e4e6e7;
$gray-250: #cfd2d3;
$gray-300: #b9bec0;
$gray-400: #a1a7aa;
$gray-500: #71797c;
$gray-600: #4e5355;
$gray-700: #36393b;
$gray-800: #1b1d1d;
$gray-900: #0c0d0d;
$gray-white: #ffffff;
$green-100: #f5fef3;
$green-200: #dcfcdb;
$green-300: #9be8af;
$green-400: #7fd99f;
$green-500: #5ac88d;
$green-600: #41ac7d;
$green-700: #2d906e;
$light-transparent-10p: #ffffff1a;
$light-transparent-20p: #ffffff33;
$light-transparent-30p: #ffffff4d;
$light-transparent-40p: #ffffff66;
$light-transparent-50p: #ffffff80;
$light-transparent-5p: #ffffff0d;
$light-transparent-60p: #ffffff99;
$light-transparent-70p: #ffffffb2;
$light-transparent-80p: #ffffffcc;
$light-transparent-90: #ffffffe5;
$orange-100: #fff2d6;
$orange-200: #ffe1ad;
$orange-300: #ffca80;
$orange-400: #ffb561;
$orange-500: #ff932e;
$orange-600: #db7024;
$orange-700: #b95b18;
$purple-100: #eadcfc;
$purple-200: #d5bbf9;
$purple-300: #b795ed;
$purple-400: #9975dc;
$purple-500: #724bc5;
$purple-600: #5736a9;
$purple-700: #40258d;
$red-100: #f9e7e7;
$red-200: #fcc4bd;
$red-300: #f99b91;
$red-400: #f37a74;
$red-500: #ec4848;
$red-600: #ca3441;
$red-700: #a9243b;
$sand-sand: #f6f1e7;
$yellow-100: #fef9d5;
$yellow-200: #fef2ac;
$yellow-300: #fde982;
$yellow-400: #fcdf63;
$yellow-500: #fbd030;
$yellow-600: #e5ad1b;
$yellow-700: #c48f07;