@font-face {
    font-family: "haas";
    src: url("fonts/haas-grotesk-display/NeueHaasDisplayXXThin.ttf") format("ttf");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "haas";
    src: url("fonts/haas-grotesk-display/NeueHaasDisplayXXThinItalic.ttf") format("ttf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "haas";
    src: url("fonts/haas-grotesk-display/NeueHaasDisplayXThin.ttf") format("ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "haas";
    src: url("fonts/haas-grotesk-display/NeueHaasDisplayXThinItalic.ttf") format("ttf");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "haas";
    src: url("fonts/haas-grotesk-display/NeueHaasDisplayThin.ttf") format("ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "haas";
    src: url("fonts/haas-grotesk-display/NeueHaasDisplayThinItalic.ttf") format("ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "haas";
    src: url("fonts/haas-grotesk-display/NeueHaasDisplayLight.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "haas";
    src: url("fonts/haas-grotesk-display/NeueHaasDisplayLightItalic.ttf") format("ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "haas";
    src: url("fonts/haas-grotesk-display/NeueHaasDisplayRoman.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "haas";
    src: url("fonts/haas-grotesk-display/NeueHaasDisplayRomanItalic.ttf") format("ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "haas";
    src: url("fonts/haas-grotesk-display/NeueHaasDisplayMediu.ttf") format("ttf");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "haas";
    src: url("fonts/haas-grotesk-display/NeueHaasDisplayMediumItalic.ttf") format("ttf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "haas";
    src: url("fonts/haas-grotesk-display/NeueHaasDisplayBold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "haas";
    src: url("fonts/haas-grotesk-display/NeueHaasDisplayBoldItalic.ttf") format("ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "haas";
    src: url("fonts/haas-grotesk-display/NeueHaasDisplayBlack.ttf") format("ttf");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "haas";
    src: url("fonts/haas-grotesk-display/NeueHaasDisplayBlackItalic.ttf") format("ttf");
    font-weight: 800;
    font-style: italic;
}