/* font legened:
Thin: 100 200 300, Light: 400, Regular: 500, Bold: 700 800 */

@import url(font-kepler.css);
@import url(font-haas.css);
@import url(font-haas-text.css);

body{
    background-color: #1C1C1C;
    color: #FFFFFF;
}
#wrapper{
    position: absolute;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    border-top: 1px solid #FFFFFF;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    align-items: center;
    width: calc(100% - 120px);
    padding: 0 60px;
    /* background-color: #FFFFFF; */
    position: sticky;
    top: 0;
}
header div{
    transition: opacity 300ms linear 0s;
}
.logoDiv{
    width: 80px;
    height: 80px;
    /* background-image: url(images/new-k-invert.gif); */
    transform: rotate(90deg) scale(0.8);
    /* background-repeat: no-repeat;
    background-size: contain; */
    opacity: 0;
    transition: opacity 300ms linear 0s, background-image 300ms linear 0s;
}
.logoText{
    width: 80px;
    height: 40px;
    transform: translateX(-60px);
    background-image: url(images/kido.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
section{
    width: 80%;
    padding: 0 10%;
    text-align: center;
    min-height: 80vh;
}
.firstSection{
    background-color: #FFFFFF;
    /* background-color: #D9D9D9; */
    box-shadow: 0 -10em 0 0 white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#titleKido{
    transform-origin: 50% 222%;
    color: #FFFFFF;
    mix-blend-mode: difference;
    /* transition: transform 100ms ease-out 0s; */
    /* animation: titleAnim 3000ms linear infinite; */
}
@keyframes titleAnim{
    0%{transform: translateY(0) scale(1); color: #000000;}
    100%{transform: translateY(50vh) scale(0.35); color: #FFFFFF;}
}
h1{
    font-size: 12em;
    color: #101010;
    font-family: 'kepler';
    letter-spacing: -0.07em;
    font-weight: 500;
    font-style: italic;
}
.secondSection h2::first-line{
    letter-spacing: -0.07em;
    visibility: hidden;
}
h2{
    font-size: 4em;
    font-family: 'kepler';
    letter-spacing: -0.03em;
    line-height: 1em;
    text-transform: capitalize;
    font-weight: 500;
    font-style: italic;
    max-width: 75%;
    margin-bottom: 0;
}
.alternate{
    max-width: 100%;
    text-transform: none;
    text-align: left;
    font-size: 3.2em;
    font-weight: 300;
    letter-spacing: normal;
    /* font-style: normal; */
}
h3{
    font-size: 1.5em;
    font-family: 'haas';
    font-weight: 100;
    text-align: left;
}
.indent{
    text-indent: 3em;
}
.half-size{
    width: 50%;
}
.float-right{
    float: right;
}
ul.float-right{
    list-style-type: none;
    text-align: left;

}
details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}
details[open] h2.float-right::after{
    transform: rotate(45deg);
}
li{
    font-family: 'haas';
    margin: 0.5em 0;
}
.min-60{
    min-height: 60vh;
}
.columnDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}
.margin-48{
    margin-bottom: 48px;
}
.margin-80{
    margin-bottom: 80px;
}
.padding-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.rowDiv{
    display: flex;
    gap: 48px;
    margin-top: 80px;
    min-height: 0;
    padding-bottom: 100px;
}
.space{
    justify-content: space-between;
}
img{
    max-width: 30vw;
}
.roundButton{
    background-color: #1C1C1C;
    color: #FFFFFF;
    border: 2px solid;
    outline: none;
    border-radius: 999px;
    font-family: 'haas';
    font-size: 1.5em;
    font-weight: 500;
    padding: 4px 16px;
    white-space: nowrap;
    /* margin-bottom: 48px; */
    cursor: pointer;
    transition: opacity 300ms linear 0s;
}
.invertButton{
    background-color: #FFFFFF;
    color: #1C1C1C;
}
.roundButton:hover{
    opacity: .5;
}
.spacer{
    flex-grow: 1;
}
hr{
    border-color: #7B7B7B;
    width: calc(100% - 80px);
}
.triLabel{
    position: relative;
    margin-left: 60px;
    font-family: 'haas-text';
    font-weight: 200;
    font-size: 0.8em;
}
.triLabel::before{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    transform: translate(-20px, 2px);
    background-image: url(images/tri.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.flex-card{
    display: flex;
    align-items: center;
    gap: 80px;
}
.case-card{
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: fit-content;
    gap: 24px;
}
.case-card img{
    transition: transform 300ms ease-in-out 0s;
}
.case-card:hover img{
    transform: scale(1.05);
}
.case-card h2{
    font-size: 1em;
    margin: 0;
    letter-spacing: normal;
}
.case-card h3{
    font-size: 1.2em;
    margin: 0;
}
h2.float-right{
    margin-top: 0.4em;
    margin-bottom: 0.1em;
    text-align: left;
    font-size: 2.4em;
    letter-spacing: normal;
    cursor: pointer;
    transition: opacity 300ms linear 0s;
    /* display: flex;
    justify-content: space-between; */
}
h2.float-right:hover{
    opacity: 0.5;
}
h2.float-right::after{
    content: '+';
    font-size: 0.7em;
    position: absolute;
    right: 11%;
    transform-origin: center;
    transition: transform 300ms ease-in-out 0s;
}

@media screen and (max-width: 900px) {
    .rowDiv{
        flex-direction: column;
    }
    .case-card{
        width: 100%;
    }
    .case-card img{
        min-width: 100%;
    }
    .half-size{
        width: 100%;
    }
    .float-right{
        float: left;
    }
    h1{
        font-size: 4.5em;
    }
    h2{
        font-size: 3em;
    }
    .indent{
        text-indent: 0em;
    }
    #wrapper{
        padding-bottom: 6em;
    }
    .roundButton{
        font-size: 1em;
    }
    header{
        width: calc(100% - 20px);
        padding: 0 10px;
    }
    ul{
        padding-left: 0;
    }
    .padding-100{
        padding: 24px;
        width: calc(100% - 48px);
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .padding-100 img{
        width: 20vw;
        height: auto;
    }
    .alternate{
        font-size: 2em;
        line-height: 1.3;
    }
}