#wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #D9D9D9;
    position: sticky;
    top: 0;
}
.logoDiv{
    width: 80px;
    height: 80px;
    background-image: url(images/new-k-invert.gif);
    transform: rotate(90deg);
    background-repeat: no-repeat;
    background-size: contain;
}
.logoText{
    width: 48px;
    height: 20px;
    background-image: url(images/Kido.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
section{
    width: 80%;
    padding: 0 10%;
    text-align: center;
    min-height: 80vh;
}
.firstSection{
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 180px;
    color: #101010;
}