/* font legened:
Thin: 100 200 300, Light: 400, Regular: 500, Bold: 700 800 */

@import url(font-kepler.css);
@import url(font-haas.css);
@import url(font-haas-text.css);

body{
    background-color: #1C1C1C;
    color: #FFFFFF;
}
#wrapper{
    position: absolute;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    align-items: center;
    width: 100%;
    /* background-color: #D9D9D9; */
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
}
.logoDiv{
    width: 80px;
    height: 80px;
    background-image: url(images/new-k-invert.gif);
    transform: rotate(90deg);
    background-repeat: no-repeat;
    background-size: contain;
}
.logoText{
    width: 48px;
    height: 20px;
    background-image: url(images/kido.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
section{
    width: 80%;
    padding: 0 10%;
    text-align: center;
    min-height: 90vh;
}
.firstSection{
    background-color: #FFFFFF;
    /* background-color: #D9D9D9; */
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 14em;
    color: #101010;
    font-family: 'kepler';
    letter-spacing: -0.04em;
    font-weight: 500;
}
h2{
    font-size: 5em;
    font-family: 'kepler';
    letter-spacing: -0.04em;
    line-height: 1em;
    text-transform: capitalize;
    font-weight: 500;
    max-width: 75%;
    margin-bottom: 0;
}
h3{
    font-size: 1.5em;
    font-family: 'haas';
    font-weight: 300;
    text-align: left;
}
.indent{
    text-indent: 3em;
}
.half-size{
    width: 50%;
}
.float-right{
    float: right;
}
.min-60{
    min-height: 60vh;
}
.columnDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}
.rowDiv{
    display: flex;
    gap: 48px;
    margin-top: 80px;
    min-height: 0;
    padding-bottom: 100px;
}
img{
    max-width: 30vw;
}
.roundButton{
    background-color: #1C1C1C;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    outline: none;
    border-radius: 999px;
    font-family: 'haas';
    font-size: 1.5em;
    font-weight: 200;
    padding: 4px 12px;
    margin-bottom: 48px;
    cursor: pointer;
    transition: opacity 300ms linear 0s;
}
.roundButton:hover{
    opacity: .5;
}
.spacer{
    flex-grow: 1;
}
hr{
    border-color: #7B7B7B;
    width: calc(100% - 80px);
}
.triLabel{
    position: relative;
    margin-left: 60px;
    font-family: 'haas-text';
    font-weight: 200;
    font-size: 0.8em;
}
.triLabel::before{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    transform: translate(-20px, 2px);
    background-image: url(images/tri.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.flex-card{
    display: flex;
    align-items: center;
    gap: 80px;
}
.case-card{
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: fit-content;
    gap: 24px;
}
.case-card img{
    transition: transform 300ms ease-in-out 0s;
}
.case-card:hover img{
    transform: scale(1.05);
}
.case-card h2{
    font-size: 1em;
    margin: 0;
    letter-spacing: normal;
}
.case-card h3{
    font-size: 1.2em;
    margin: 0;
}
h2.float-right{
    margin-top: 0.4em;
    margin-bottom: 0.1em;
    text-align: left;
    font-size: 2.4em;
    letter-spacing: normal;
    /* display: flex;
    justify-content: space-between; */
}
h2.float-right::after{
    content: '+';
    font-size: 0.7em;
    position: absolute;
    right: 11%;
}

@media screen and (max-width: 900px) {
    .rowDiv{
        flex-direction: column;
    }
    .case-card{
        width: 100%;
    }
    .case-card img{
        min-width: 100%;
    }
    .half-size{
        width: 100%;
    }
    .float-right{
        float: left;
    }
    h1{
        font-size: 8em;
    }
    h2{
        font-size: 3em;
    }
    .indent{
        text-indent: 0em;
    }
    #wrapper{
        padding-bottom: 6em;
    }
}