/* font legened:
This: 100 200 300, Light: 400, Regular: 500, Bold: 700 800 */

@import url(font-dia.css);
@import url(font-haas.css);
@import url(font-haas-text.css);

body{
    background-color: #181818;
    color: #ffffff;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 32px;
    width: 50%;
}
.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}
a{
    color: #ffffff;
    text-decoration: none;
}
.k-symbol{
    width: 24px;
    height: 24px;
    background-image: url(images/k.svg);
    background-size: cover;
}
.dia{
    font-family: 'diatype', sans-serif;
}
.haas{
    font-family: 'haas', sans-serif;
}
.haasText{
    font-family: 'haas-text', sans-serif;
}