#wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.triDiv{
    position: relative;
    width: 90vw;
    height: 45vw;
    /* filter: drop-shadow(0 0 2px #000000); */
    opacity: 1;
}
.triDiv div{
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px) hue-rotate(0deg) contrast(100%);
}
.triDiv div:nth-of-type(2){
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    top: 1px;
    left: 1px;
    backdrop-filter: blur(2px) hue-rotate(-6deg) contrast(116%);
}
.triDiv div:nth-of-type(3){
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    top: 2px;
    left: 2px;
    backdrop-filter: blur(2px) hue-rotate(-4deg) contrast(114%);
}
.triDiv div:nth-of-type(4){
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    top: 3px;
    left: 3px;
    backdrop-filter: blur(2px) hue-rotate(-12deg) contrast(112%);
}
.triDiv div:nth-of-type(5){
    position: absolute;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    top: 4px;
    left: 4px;
    backdrop-filter: blur(2px) hue-rotate(-10deg) contrast(110%);
}
.triDiv div:nth-of-type(6){
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 5px;
    left: 5px;
    backdrop-filter: blur(2px) hue-rotate(-8deg) contrast(108%);
}
.triDiv div:nth-of-type(7){
    position: absolute;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    top: 6px;
    left: 6px;
    backdrop-filter: blur(2px) hue-rotate(-6deg) contrast(106%);
}
.triDiv div:nth-of-type(8){
    position: absolute;
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    top: 7px;
    left: 7px;
    backdrop-filter: blur(2px) hue-rotate(-4deg) contrast(104%);
}
.triDiv div:nth-of-type(9){
    position: absolute;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    top: 8px;
    left: 8px;
    backdrop-filter: blur(2px) hue-rotate(-2deg) contrast(102%);
}
.triDiv div:nth-of-type(10){
    position: absolute;
    width: calc(100% - 18px);
    height: calc(100% - 18px);
    top: 9px;
    left: 9px;
    backdrop-filter: blur(2px) hue-rotate(0deg) contrast(100%);
}

body{
    background:
linear-gradient(324deg, #232927 4%,   transparent 4%) -70px 43px,
linear-gradient( 36deg, #232927 4%,   transparent 4%) 30px 43px,
linear-gradient( 72deg, #e3d7bf 8.5%, transparent 8.5%) 30px 43px,
linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -70px 43px,
linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -70px 23px,
linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 30px 23px,

linear-gradient(324deg, #232927 4%,   transparent 4%) -20px 93px,
linear-gradient( 36deg, #232927 4%,   transparent 4%) 80px 93px,
linear-gradient( 72deg, #e3d7bf 8.5%, transparent 8.5%) 80px 93px,
linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -20px 93px,
linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -20px 73px,
linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 80px 73px;
background-color: #232927;
background-size: 100px 100px;
}