#wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    scroll-behavior: smooth;
    /* scroll-snap-type: y mandatory; */
    overflow: auto;
    overflow-x: hidden;
}
.m-15{
    margin: 0 15%;
}
.m-0{
    margin: 0;
}
body{
    background-color: #212121;
    color: #F3F3F1;
}
section{
    position: relative;
    margin: 12px 40px;
    /* scroll-snap-align: center; */
}
.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-video{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    scroll-snap-align: center;
}
.flex-container{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex-video h1{
    color: #212121;
}
.details-div{
    margin-right: 10%;
}
.font-pt{
    font-family: 'PT Serif', serif;
}
.font-inter{
    font-family: 'Inter', sans-serif;
}
.text-medium{
    font-weight: 400;
}
.text-bold{
    font-weight: 700;
}
.text-center{
    text-align: center;
}
h1{
    font-size: 80px;
    text-transform: capitalize;
    line-height: 1;
    margin-bottom: 0px;
}
h2{
    font-size: 24px;
    text-transform: capitalize;
    line-height: 1;
    margin-bottom: 0px;
    margin-left: 24px;
    position: relative;
}
h2::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(images/li.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left center;
    transform: translateX(-24px);
}
h2 + p{
    margin-left: 24px;
}
p{
    font-size: 18.3px;
    line-height: 1.5;
    margin-bottom: 48px;
}
.logoDiv{
    width: 90px;
    height: auto;
    margin-top: 40px;
}
.button{
    position: relative;
    background-color: #B08FD5;
    color: #212121;
    border: none;
    outline: 2px solid transparent;
    outline-offset: 0;
    border-radius: 10px;
    padding: 18px 40px;
    font-size: 18.3px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    transition: all 200ms linear;
}
.button:hover{
    background-color: #9d80c0;
}
.button:active{
    background-color: #8369a1;
}
.button:focus-visible{
    outline-color: #B08FD5;
    outline-offset: 4px;
}
.button:hover::before{
    content: '';
    position: absolute;
    background-image: url(images/sparks.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.full-height{
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
.full-width{
    width: 100%;
}
video{
    width: 65%;
}
.white-bg{
    background-color: #FFFFFF;
    /* background-color: lightblue; */
    border-radius: 10px 10px 0 0;
    padding-top: 40px;
    padding-bottom: 40px;
}
.form-div{
    gap: 12px;
    padding-top: 40px;
    padding-bottom: 40px;
    /* padding-left: 50%; */
    width: 40vw;
}
.form-div input, .form-div label{
    color: #212121;
    font-size: 18.3px;
    font-family: 'Inter', sans-serif;
    width: calc(40vw - 24px);
}
.form-div label span{
    color: #B08FD5;
}
.h1-width{
    width: 24vw;
}
.form-section{
    justify-content: space-evenly;
}
input{
    padding: 24px 12px;
    border-radius: 10px;
    background-color: #F3F3F1;
    border: 2px solid #ADA3E2;
    outline: none;
    margin-bottom: 16px;
}
input:hover{
    border-color: #6D59D2;
}
input:active, input:focus{
    border-color: #3d3177;
}
.form-div .button{
    width: calc(40vw);
    padding: 18px 40px;
    font-size: 24px;
}
.play-button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    height: 150px;
    width: 150px;
    background-color: #B08FD5;
    color: #212121;
    border-radius: 50%;
    font-size: 120px;
    line-height: 150px;
    pointer-events: none;
    transition: opacity 200ms linear 0s;
}
.cover-video{
    cursor: pointer;
}
.cover-video:hover + .play-button{
    background-color: #B08FD5ee;
}